article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    position: relative;
    margin: 5px 0 5px 0;
    overflow: auto;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

span {
    display: block;
    position: relative;
    color: #b6b6b6;
    text-transform: uppercase;
}

paper-ripple {
    color: #6f00ff;
}

.rating {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    min-width: 60px;
    min-height: 100%;
}

.rating .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.rating .container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.rating paper-icon-button {
    color: #4b4b4b;
    z-index: 1001;
}

.rating paper-icon-button[icon="star"] {
    color: #ffe200;
    z-index: 0;
}

.question {
    display: block;
    max-width: 100%;
    height: auto;
}

.question .lines {
    display: none;
    overflow: hidden;
    margin: 15px 0 0 0;
    text-align: center;
}

.question .date {
    display: inline-block;
    position: relative;
    font: 400 12px 'Roboto', sans-serif;
    padding: 0 6px 0 6px;
}

.question .hashtag {
    font: italic 500 15px 'Roboto', sans-serif;
    word-break: break-all;
}

.question h1 {
    display: block;
    position: relative;
    margin: 5px 0 0 0;
    font: 300 17px 'Roboto', sans-serif;
    color: #000;
}

.question .footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    margin: 15px 0 10px 0;
}

.question .footer .answers {
    display: block;
    position: relative;
    font: 500 12px 'Roboto', sans-serif;
}

.question .footer .author {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
    margin: 0 15px 0 0;
}

.question .footer .author img {
    display: block;
    position: relative;
    width: 25px;
    height: auto;
    border: 2px solid #fff;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}

.question .footer .author span {
    padding-right: 5px;
    font: 500 12px 'Roboto', sans-serif;
}

/*
//
//  Mode: Public
//
*/

article[mode="public"] .rating paper-icon-button[icon="expand-less"] {
    margin: 0 0 5px 0;
}

article[mode="public"] .rating paper-icon-button[icon="expand-more"] {
    margin: 5px 0 0 0;
}

article[mode="public"] .rating paper-icon-button[icon="star"] {
    display: none;
}

article[mode="public"] .rating .up {
    width: 0; 
	height: 0; 
	border-left: 8px solid transparent;  /* left arrow slant */
	border-right: 8px solid transparent; /* right arrow slant */
	border-bottom: 10px solid #4b4b4b; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
    margin: 0 0 20px 0;
}

article[mode="public"] .rating .down {
    width: 0; 
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 10px solid #4b4b4b;
	font-size: 0;
	line-height: 0;
    margin: 20px 0 0 0;
}

article[mode="public"] .rating .number {
    font: 400 15px 'Roboto', sans-serif;
}

article[mode="public"] .question .date {
    display: none;
}

article[mode="public"] .question .hashtag {
    padding: 0 25px 0 0;
    margin: 25px 0 0 0;
}

article[mode="public"] .question h1 {
    padding: 0 25px 0 0;
}

/*
//
//  Mode: Private
//
*/

article[mode="private"] .rating {
    display: none;
}

article[mode="private"] .rating paper-icon-button[icon="expand-less"] {
    display: none;
}

article[mode="private"] .rating paper-icon-button[icon="expand-more"] {
    display: none;
}

article[mode="private"] .rating paper-icon-button[icon="star"] {
    display: none;
}

article[mode="private"] .rating .up {
    display: none;
}

article[mode="private"] .rating .down {
    display: none;
}

article[mode="private"] .rating .number {
    display: none;
}

article[mode="private"] .question {
    margin: 0;
    text-align: center;
}

article[mode="private"] .question .lines {
    display: block;
}

article[mode="private"] .question .date:before, .date:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 50%;
    height: 1px;
    background-color: #dbd8d8;
}

article[mode="private"] .question .date:before {
    right: 100%;
}

article[mode="private"] .question .date:after {
    left: 100%;
}

article[mode="private"] .question .hashtag {
    padding: 0;
    margin: 5px 0 0 0;
}

article[mode="private"] .question h1 {
    padding: 0 15px 0 15px;
}

article[mode="private"] .question .footer {
    justify-content: center;
    padding: 0 0 5px 0;
}

article[mode="private"] .question .footer .answers {
    
}

article[mode="private"] .question .footer .author {
    display: none;
}

/*
//
//  Mode: Favorite
//
*/

article[mode="favorite"] .rating paper-icon-button[icon="expand-less"] {
    display: none;
}

article[mode="favorite"] .rating paper-icon-button[icon="expand-more"] {
    display: none;
}

article[mode="favorite"] .rating .number {
    display: none;
}

article[mode="favorite"] .question .date {
    display: none;
}

article[mode="favorite"] .question .hashtag {
    padding: 0 25px 0 0;
    margin: 25px 0 0 0;
}

article[mode="favorite"] .question h1 {
    padding: 0 25px 0 0;
}

/*
//
//  Rating Status
//
*/

.liked {
    color: #01b925;
}

.disliked {
    color: #de0b0b;
}

/*
.like:before {
    display: block;
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background-image: url('../../img/like-border.PNG');
    background-size: 60px 60px;
    top: 0;
    left: 0;
}
            
.dislike:before {
    display: block;
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background-image: url('../../img/dislike-border.PNG');
    background-size: 60px 60px;
    top: 0;
    left: 0;
}

.likes {
    display: none;
    position: absolute;
    top: 5px;
    left: 10px;
    color: #fff;
    font: 400 20px 'Roboto', sans-serif;
}
*/